<h2>Estudantes Cadastrados</h2>
<ul class="estudantes">
  <li *ngFor="let estudante of estudantes">
    <a routerLink="/detail/{{estudante.id}}">
      <span class="badge">{{estudante.id}}</span> {{estudante.name}}
    </a>
  </li>
</ul>

<div class="textos" *ngIf="selectedEstudante">
  <h2>{{selectedEstudante.name | uppercase}} Detalhes</h2>
  <div>id: {{selectedEstudante.id}}</div>
  <div>
    <label for="estudante-name">Nome do Estudante: </label>
    <input id="estudante-name" [(ngModel)]="selectedEstudante.name" placeholder="name">
  </div>
</div>