<h2>Estudantes Cadastrados</h2>
<ul class="heroes">
  <li *ngFor="let estudante of estudantes">
    <button [class.selected]="estudante === selectedEstudante" type="button" (click)="onSelect(estudante)">
      <span class="badge">{{estudante.id}}</span>
      <span class="name">{{estudante.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedEstudante">
  <h2>{{selectedEstudante.name | uppercase}} Details</h2>
  <div>id: {{selectedEstudante.id}}</div>
  <div>
    <label for="estudante-name">Estudante name: </label>
    <input id="estudante-name" [(ngModel)]="selectedEstudante.name" placeholder="name">
  </div>
</div>