<div class="details" *ngIf="estudante">

    <h2>{{estudante.name}} Details</h2>
    <div class="white"><span>ID: </span>{{estudante.id}}</div>
    <div class="label">
      <label for="estudante-name">Nome do Estudante: </label>
      <input id="estudante-name" [(ngModel)]="estudante.name" placeholder="name">
    </div>
    <div class="white"><span>Curso: </span>{{estudante.curso}}</div>
    <div class="white"><span>Idade: </span>{{estudante.idade}}</div>
    <div class="white"><span>Semestre: </span>{{estudante.semestre}}</div>
  
    <button type="button" (click)="goBack()">Voltar</button>
    <button type="button" (click)="save()">Salvar</button>
    <button type="button" (click)="deleteEstudante()">Deletar</button>

  </div>